# --- Entornos Virtuales ---
venv/
env/
.venv/

# --- Next.js / Frontend ---
.next/
out/
build/
node_modules/
.vercel/

# --- Variables de Entorno ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

GEMINI.md
.cursorrules

# --- Sistema y Editores ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
